<div class="container-fluid">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Upcoming Events List</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Training Name</th>
                            <th class="text-center">Schedule Date</th>
                            <th class="text-center">Location</th>
                            <th class="text-center" width="18%">Select Training</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let event of events">
                            <td>{{event.training}}</td>
                            <td class="text-center">{{event.date}}</td>
                            <td class="text-center">{{event.location}}</td>
                            <td class="text-center"><a href="" class="link">Click Here</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Add Event</h3>
            </div>
            <div class="panel-body">
                <form (ngSubmit)="addEvent()">
                    <div class="form-group">
                        <label for="inputEmail" class="col-md-12 control-label">Training Name</label>
                        <div class="col-lg-12">
                            <input type="text" class="form-control" placeholder="Training Name" name="training" [(ngModel)]='training' required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-md-12 control-label">Schedule Date</label>
                        <div class="col-lg-12">
                            <input type="text" class="form-control" placeholder="Schedule Date" name="date" [(ngModel)]="date" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-md-12 control-label">Location</label>
                        <div class="col-lg-12">
                            <input type="text" class="form-control" placeholder="Location" name="location" [(ngModel)]="location" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-md-12 control-label">Link</label>
                        <div class="col-lg-12">
                            <input type="text" class="form-control" placeholder="Link" name="link" [(ngModel)]="link">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12" style="padding-top:10px">
                            <input type="submit" class="btn btn-primary btn-sm" name="submit" value="Add Event">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>