<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
      <a class="navbar-brand" href="#">Components</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><span class="glyphicon glyphicon-flag"></span>&nbsp;Events</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Testimonial</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> &nbsp;Clients</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" style="padding-left:0px">
  <div class="row logo navbar-fixed-top">
    <div class="col-lg-2 logo2">
      <img src="./app/images/logo_nav.png" alt="QuickLearn Systems">
    </div>
  </div>
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs sidebar">
      <p class="nav-titles">Components</p>
      <ul class="nav nav-pills nav-stacked">
        <li routerLink="events" routerLinkActive='active'><a><span class="glyphicon glyphicon-flag"></span>&nbsp;Events</a></li>
        <li routerLink="testimonials" routerLinkActive='active'><a><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Testimonial</a></li>
        <li routerLink="clients" routerLinkActive='active'><a><span class="glyphicon glyphicon-user"></span> &nbsp;Clients</a></li>
      </ul><br>
    </div>
    <div class="container content_main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>