<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="padding-top:10px;" routerLink="" routerLinkActive="active"><img src="app/images/logo_nav.png" alt="Quick LearnSystems"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a  routerLink="" routerLinkActive="active">Home</a></li>
                    <li class="dropdown">
                        <a aria-expanded="false">
                            About <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-intial">
                            <li><a  routerLink="/about" routerLinkActive="active">Mission /Vision</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a aria-expanded="false">Classroom Courses<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-intial">
                            <li class="dropdown-submenu">
                                <a tabindex="-1">Service Management</a>
                                <ul class="dropdown-menu dropdown-intial">
                                    <li><a tabindex="-1" routerLink="/itil_foundation" routerLinkActive="active">ITIL Foundation</a></li>
                                    <li class="dropdown-submenu">
                                        <a >ITIL Intermediate</a>
                                        <ul class="dropdown-menu dropdown-intial">
                                            <li class="dropdown-submenu">
                                                <a >ITIL Lifecycle Modules</a>
                                                <ul class="dropdown-menu dropdown-intial">
                                                    <li><a routerLink="/service_strategy" routerLinkActive="active">ITIL Service Strategy</a></li>
                                                    <li><a routerLink="/service_design" routerLinkActive="active">ITIL Service Design</a></li>
                                                    <li><a routerLink="/service_transition" routerLinkActive="active">ITIL Service Transition</a></li>
                                                    <li><a routerLink="/service_operation" routerLinkActive="active">ITIL Service Operation</a></li>
                                                    <li><a routerLink="/continual_service" rotuerLinkActive="active">ITIL Continual Service Improvement</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a >ITIL Capability Module</a>
                                                <ul class="dropdown-menu dropdown-intial">
                                                    <li><a routerLink="/soa" routerLinkActive="active">ITIL Service, Offering and Agreement (SOA)</a></li>
                                                    <li><a routerLink="/ppo" routerLinkActive="active">ITIL Planning, Protection and Optimization (PPO)</a></li>
                                                    <li><a routerLink="/rcv" routerLinkActive="active">ITIL Release, Control and Validation (RCV)</a></li>
                                                    <li><a routerLink="/osa" routerLinkActive="active">ITIL Operational, Support and Analysis (OSA)</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a >ITIL Expert</a>
                                        <ul class="dropdown-menu dropdown-intial">
                                            <li><a routerLink="/malc" routerLinkActive="active">ITIL<sup>&reg;</sup> Managing Across The Lifecycle</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a >Project &amp; Program Management</a>
                                <ul class="dropdown-menu dropdown-intial">
                                    <li><a routerLink="/capm" routerLinkActive="active">CAPM</a></li>
                                    <li><a routerLink="/pmp" routerLinkActive="active">PMP</a></li>
                                    <li><a routerLink="/acp" routerLinkActive="active">ACP</a></li>
                                    <li><a routerLink="/prince2foundation" routerLinkActive="active">Prince2 Foundation</a></li>
                                    <li><a routerLink="/prince2practitioner" routerLinkActive="active">Prince2 Practitioner</a></li>
                                    <li><a routerLink="/prince2agile" routerLinkActive="active">Prince2 Agile</a></li>
                                    <li><a routerLink="/scrum" routerLinkActive="active">Scrum Master</a></li>
                                    <li><a routerLink="/msp" routerLinkActive="active">Managing Successful Programs</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a >Quality Management</a>
                                <ul class="dropdown-menu dropdown-intial">
                                    <li><a >Six Sigma Yellow Belt</a></li>
                                    <li><a routerLink="/green_belt" routerLinkActive="active">Six Sigma Green Belt</a></li>
                                    <li><a routerLink="/black_belt" routerLinkActive="active">Six Sigma Black Belt</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a >IT Governance &amp; Architecture</a>
                                <ul class="dropdown-menu dropdown-intial">
                                    <li><a routerLink="/cobit" routerLinkActive="active">COBIT 5 Foundation</a></li>
                                    <li><a routerLink="/togaf" routerLinkActive="active">TOGAF 9.1 Level  1 &amp; Level 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a >Upcoming Events</a></li>
                    <li><a >Services</a></li>
                    <li><a >Enquiry</a></li>
                    <li><a >Contact Us</a></li>
                    <li><a >Feedback</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="/admin" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
</nav>
