<br/>
<div class="container c-confes">
        <div id="cConfesCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" style="height: 300px;">
                    <div class="container" style="margin-top:2%;">
                        <div class="row text-center">
                            <div class="col-md-12 c-confes-img"><img src="./app/images/c1.jpg"></div>
                            <div class="col-md-12 c-confes-txt">“My perspective as an instructional designer is: I want as many people as possible to have the tools to help them create really good quality elearning and that’s something that QuickLearn offers.”</div>
                            <div class="col-md-12 c-confes-name">
                                <h4>Alan Bourne</h4></div>
                        </div>
                    </div>
                </div>
                <div class="item" style="height: 300px;">
                    <div class="container" style="margin-top:2%;">
                        <div class="row text-center">
                            <div class="col-md-12 c-confes-img"><img src="./app/images/c2.jpg"></div>
                            <div class="col-md-12 c-confes-txt">“My perspective as an instructional designer is: I want as many people as possible to have the tools to help them create really good quality elearning and that’s something that QuickLearn offers.”</div>
                            <div class="col-md-12 c-confes-name">
                                <h4>Martin Turing</h4></div>
                        </div>
                    </div>
                </div>
                <div class="item" style="height: 300px;">
                    <div class="container" style="margin-top:2%;">
                        <div class="row text-center">
                            <div class="col-md-12 c-confes-img"><img src="./app/images/c3.png"></div>
                            <div class="col-md-12 c-confes-txt">“My perspective as an instructional designer is: I want as many people as possible to have the tools to help them create really good quality elearning and that’s something that QuickLearn offers.”</div>
                            <div class="col-md-12 c-confes-name">
                                <h4>Austin Samuel</h4></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#cConfesCarousel" role="button" data-slide="prev" style="background-image:none;color:#263944;">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#cConfesCarousel" role="button" data-slide="next" style="background-image:none;color:#263944;">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
